*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    scroll-padding-top:32px;
    scroll-behavior:smooth;
    list-style:none;
    text-decoration:none;
    font-family: 'Roboto', sans-serif;
}
img{
    width:100%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    box-shadow:0 1px 4px hsl(0 4% 15% / 10%);
    z-index:1;
}

.nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 0;
}

.container{
    max-width:1068px;
    margin:auto;
    width:100%;
}
.logo{
    font-size:18px;
    font-weight:400;
}
section{
    padding:64px 0 48px;
}
.shop{
    margin-top:30px;
}
/*******Cart style************/
.cart{
    position:fixed;
    top:0;
    right:-100%;
    width:360px;
    min-height:100vh;
    padding:20px;
    background-color:#fff;
    box-shadow: -2px 0 4px hsl(0 40% 15% / 10%);
    transition:.4s;
}
.cart.active{
    right:0
}
.cart-content{
    margin-top:30px;
}
.cart-title{
    text-align:center;
    font-weight:600;
    font-size:12px;
    margin-top:32px;
}
.cart-box{
    display:grid;
    grid-template-columns:32% 50% 18%;
    align-items:center;
    gap:16px;
    margin-top:16px;
}
.cart-img{
    width:100px;
    height:100px;
    object-fit:contain;
    padding:10px;
}
.details-box{
    display:grid;
    row-gap:8px;
}
.cart-product-title{
    font-size:12px;
    text-transform:uppercase;
}
.cart-price{
    font-weight:500;

}
.cart-quantity{
    border: 1px solid #333;
    outline-color:blue;
    width:32px;
    text-align:center;
    font-size:16px;
}
.fa-remove{
    font-size:24px;
    color:red;
    cursor:pointer;
}
.total{
    display:flex;
    justify-content:flex-end;
    margin-top:24px;
    border-top:1px solid #fff;
}
.total-title{
  font-size:16px;
  font-weight:600;  
}
.total-price{
    margin-left:8px;
}
.btn-buy{
    display:flex;
    margin: 24px auto 0 auto;
    padding:12px 20px;
    border:none;
    background-color:gray;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    align-items:center;
}
.btn-buy:hover{
    background-color:#fff;
    color:blue;
    transition:0.4s;
   
}
#close-cart{
    position:absolute;
    top:16px;
    right:13px;
    font-size:32px;
    color:#333;
    cursor:pointer;
}
/*******Cart style************/
.section-title{
    font-size:18px;
    font-weight:600;
    text-align:center;
    margin-bottom:24px;
    cursor:pointer;
    font-weight:500;
}
.shop-content{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, auto));
    gap:24px;
}
.product-box{
    position:relative;
    
}
.product-box:hover{
   padding:10px;
   border:1px solid #333;
   transition:0.4s;

}
.product-img{
    width:100%;
    height:auto;
    margin-bottom:9px;
}
.product-title{
    font-size:17px;
    font-weight:600;
    text-transform:uppercase;
    margin-bottom:8px;
}
.price{
    font-weight:500;
}
.fa-addcart{
    position:absolute;
    bottom:0;
    right:0;
    background-color:#333;
    padding:10px;
    cursor:pointer;
    color:#fff;
}
.fa-addcart:hover{
   color:red;
}

/* Media quesries for repsonsiveness*/
@media only screen and (max-width:1080px){
    nav{
        padding:15px;

    }
    section{
        padding:42px 0 32px;
    }
    .container{
        margin: 0 auto;
        width:90%;
    }
    .shop{
        margin-top:32px !important;
    }
}
@media only screen and (max-width:400px){
  .nav{
      paddding:11px;
  }
  .logo{
      font-size:16px;
  }
  .cart{
      width:320px;
  }
}

@media only screen and (max-width:360px){
    .shop{
        margin-top:16px !important;
    }
    .cart {
        width:280px;
    }
}